<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/rent.css">
        <link rel="stylesheet" href="../static/css/iconmoonstyle.css">
        <link rel="stylesheet" href="../static/css/flaticonstyle.css">
        <title>Property</title> 
    </head>
    <body>
        <div class="house-agent">
            <h1>MAKE PAYMENTS</h1>
            <form action="">
                <select id="contract" title="contract" size="1">
                    <option value="" disabled selected>Contract Type</option>
                    <option value="">3 months</option>                   
                    <option value="">6 months</option>
                    <option value="">1 year</option>
                </select>   
                <select title="Choose Contract" name="contract" id="contract" size="1">
                    <option value="" disabled selected>Payment Duration</option>
                    <option value="">3 months</option>
                    <option value="">6 months</option>
                    <option value="">1 year</option>
                </select>
                <input type="text" placeholder="Enter your Full Name" required>
                <input type="email" placeholder="Enter your Email" required>
                <input type="phone" placeholder="0762 638 232" required>
            </form>            
            <div class="house-button">
                <input type="submit" value="RENT">
            </div>
        </div>
    </body>
</html>




