<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/visit.css">
        <link rel="stylesheet" href="../static/css/iconmoonstyle.css">
        <link rel="stylesheet" href="../static/css/flaticonstyle.css">
        <title>Property</title> 
    </head>
    <body>
        <div class="house-agent">
            <h1>ARRANGE</h1>
            <form action="">
                <input type="text" placeholder="Enter your Full Name" required>
                <input type="email" placeholder="Enter your Email" required>
                <input type="phone" placeholder="0762 638 232" required>
              </form>            
              <div class="house-button">
                <input type="submit" value="VISIT">
            </div>
        </div>        
    </body>
